.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    display: none;
    text-align: center;
}

.popup i.fas.fa-check-circle {
    color: green;
    font-size: 3em;
    margin-bottom: 10px;
}